:root{
    --color-primary : rgb(47, 207, 255) ;
    --color-primary-light : rgb(198, 242, 255) ;
    --color-primary-dark : rgb(0, 30, 40) ; 
}

*{
    margin : 0 ;
    padding : 0 ;
    box-sizing: border-box;
}

